@charset "UTF-8";

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  color: #676462;
  font-weight: 300;
  line-height: 34px;
}

h1,
h3,
h4 {
  font-weight: 500;
  color: #272625;
  font-family: "Poppins", sans-serif;
  margin: 0px 0px 15px 0px;
  letter-spacing: 0px;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16px;
}

p {
  margin: 0 0 24px;
  line-height: 1.8;
}

p:last-child {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #272625;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #fb6a30;
}

strong {
  color: #333333;
  font-weight: 600;
  margin-right: 8px;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 14px 24px;
  margin-bottom: 4px;
  letter-spacing: 1.4px;
  border-radius: 50px;
  line-height: 1.6;
  border: transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  word-wrap: break-word;
  white-space: normal !important;
}

.btn-primary {
  background-color: #fb6a30;
  color: #fff;
}

.btn-primary:hover {
  background-color: #ea5c24;
  color: #fff;
}

.btn-primary:focus {
  background-color: #ea5c24;
  color: #fff;
}

.btn-default {
  background-color: #32c083;
  color: #fff;
}

.btn-default:hover {
  background-color: #1c9e66;
  color: #fff;
}

.btn-default:focus {
  background-color: #1c9e66;
  color: #fff;
}

.btn-lg {
  padding: 15px 34px;
  font-size: 14px;
}

.btn-sm {
  padding: 12px 22px;
  font-size: 12px;
}

.btn-link {
  color: #fb6a30;
  border-bottom: 2px solid #fb6a30;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-link:hover {
  color: #ea5c24;
  border-bottom: 2px solid #ea5c24;
  text-decoration: none;
}

.space-medium {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt30 {
  margin-top: 30px;
}

.bg-light {
  background-color: #f4f7f6;
}

.bg-default {
  background-color: #54a2eb;
  color: #fff;
}

.section-title {
  margin-bottom: 30px;
  text-align: center;
}

.text-white {
  color: #fff;
}

.feature-content {
  padding-left: 40px;
  padding-top: 8px;
}

.feature-content:last-child {
  margin-bottom: 0px;
}

.feature-icon {
  color: #fb6a30;
  font-size: 18px;
  float: left;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}

.logo {
  padding-top: 5px;
}

.top-bar {
  background-color: #f8f8f8;
  border-bottom: #ededed 1px solid;
  padding-top: 0px;
  padding-bottom: 0px;
}

.call-info {
  margin-top: 5px;
}

.call-text {
  font-size: 14px;
  color: #21ac70;
}

.call-text strong {
  margin-left: 10px;
  color: #302e2d;
  font-weight: 400;
}

.social ul li {
  float: left;
}

.social ul li a {
  font-size: 13px;
  padding: 12px 10px;
  color: #302e2d;
}

.social ul li a:hover {
  color: #fb6a30;
}

.header-wrapper {
  z-index: 9;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
}

#navigation {
  float: right;
}

#navigation,
#navigation ul,
#navigation ul li,
#navigation ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#navigation:after,
#navigation > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#navigation {
  padding-top: 4px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#navigation > ul > li {
  float: left;
}

#navigation > ul > li > a {
  padding: 15px;
  font-size: 13px;
  color: #403e3d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

#navigation > ul > li:hover > a {
  color: #fff;
  background-color: #e65f29;
  border-radius: 5px;
}

#navigation > ul > li.has-sub > a {
  padding-right: 32px;
}

#navigation > ul > li.has-sub > a:before {
  position: absolute;
  right: 14px;
  font-family: FontAwesome;
  content: "\f107";
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#navigation ul ul {
  position: absolute;
  left: -9999px;
}

#navigation ul ul li {
  top: 0px;
  height: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#navigation li:hover > ul {
  left: auto;
}

#navigation li:hover > ul > li {
  height: 46px;
}

#navigation ul ul li a {
  background-color: #fb6a30;
  padding: 16px 22px;
  width: 218px;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: #e65f29 1px solid;
  letter-spacing: 1px;
  margin-top: -3px;
}

#navigation ul ul li:first-child > a {
  border-top-right-radius: 5px;
}

#navigation ul ul li:last-child > a {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#navigation ul ul li:last-child > a {
  border-bottom: 0;
}

#navigation ul ul li:hover > a,
#navigation ul ul li a:hover {
  color: #fff;
  background-color: #e65f29;
}

.footer {
  background-color: #242323;
  padding-top: 30px;
  padding-bottom: 10px;
  color: #908e8d;
  font-weight: 400;
}

.tiny-footer {
  background-color: #242323;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #908e8d;
  text-align: center;
}

.service-block {
  margin-bottom: 30px;
}

.service-img img {
  margin-bottom: 30px;
  border-radius: 5px;
}

a:active {
  background-color: transparent;
  border: 0px;
}

.price-block {
  border: 1px solid #e5eae8;
  background-color: #fff;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 0px 0px 5px 5px;
  margin-top: -1px;
}

.price-head {
  background-color: #f0f4f2;
  padding: 23px 0px 4px 30px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #e5eae8;
}

.price-block ul {
  border-bottom: 1px #d7dcda dashed;
  margin-bottom: 16px;
  margin-top: 15px;
  padding-bottom: 16px;
}

.price-block ul li {
  color: #676462;
  line-height: 24px;
  font-size: 13px;
  font-weight: 500;
}

.price-content {
  position: relative;
}

.price-text {
  color: #272625;
  position: absolute;
  font-weight: 500;
  top: -2px;
  right: 0px;
}

.faq-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-box {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 60%;
  padding: 10px;
}

.question-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question-number {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.question-text {
  margin: 0;
}

.answer-box {
  margin: 5px;
}
